@import url(reset.css);
.size-14 {
	font-size: 14px;
}

.size-16 {
	font-size: 16px;
}

.size-18 {
	font-size: 18px;
}

.size-20 {
	font-size: 20px;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
}

html {
	font-size: 62.5%;
}

.header {
	width: 100%;
	height: 5.4rem;
	background: #ffffff;
	border-bottom: 1px solid #d5d5d5;
	display: flex;
	flex-direction: row;
	padding: 0 1rem;
	box-sizing: border-box;
}

.header .left img {
	width: auto;
	height: 1.6rem;
	background: none;
	margin: 2rem 1.8rem 0 0;
}

.header .right button {
	color: #fe5658;
	font-size: 1.6rem;
	margin: 20px 0 0 14px;
	border: none;
	outline: none;
	background: none;
}

.header .center {
	flex: 1;
	position: relative;
}

.header .center img {
	width: auto;
	height: 1.4rem;
	background: none;
	position: absolute;
	top: 1.8rem;
	left: 1rem;
}

.header .center input {
	width: 100%;
	height: 3.3rem;
	background: #eeeeee;
	border: none;
	outline: none;
	margin-top: 10px;
	padding-left: 3.6rem;
	border-radius: 5px;
}
.section {
  flex: 1;
  padding-bottom: 50px;
  overflow-y: auto;
}
.section::-webkit-scrollbar {
  width: 0;
}
.section .follow-list {
  /*display: none;*/
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0 10px;
  box-sizing: border-box;
}
.section .follow-list .list {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.section .follow-list .list dl {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7.2rem;
  background: none;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.section .follow-list .list dl dt img {
  width: auto;
  height: 4rem;
  background: none;
  margin-right: 1.4rem;
  margin-top: 1.5rem;
}
.section .follow-list .list dl dd {
  padding-top: 1.5rem;
}
.section .follow-list .list dl dd h3 {
  font-size: 16px;
}
.section .follow-list .list dl dd p {
  color: #999999;
}
.section .follow-list .list dl dd button {
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 6rem;
  height: 2.4rem;
  background: none;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  outline: none;
}
.section .family-list {
  /*display: none;*/
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
}
.section .family-list .list-me {
  width: 100%;
  height: 15rem;
  background: none;
  border-bottom: 1px solid #e4e4e4;
}
.section .family-list .list-me p {
  color: #999999;
}
.section .family-list .list-me dl {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7.2rem;
  background: none;
  position: relative;
  margin-bottom: 1.6rem;
}
.section .family-list .list-me dl dt img {
  width: auto;
  height: 4rem;
  background: none;
  margin-right: 1.4rem;
  margin-top: 2.4rem;
}
.section .family-list .list-me dl dd {
  padding-top: 2.4rem;
}
.section .family-list .list-me dl dd h3 {
  font-size: 16px;
}
.section .family-list .list-me dl dd p {
  color: #999999;
}
.section .family-list .list-me dl dd button {
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 6rem;
  height: 2.4rem;
  background: none;
  border: 1px solid #ff5c5c;
  border-radius: 5px;
  outline: none;
  color: #ff5c5c;
}
.section .family-list .list-me dl dd button img {
  width: auto;
  height: 1rem;
  background: none;
  margin-right: 0.6rem;
}
.section .family-list .list-me dl dd span {
  display: inline-block;
  width: auto;
  height: 1.4rem;
  background: none;
  padding: 0 0.2rem;
  border: 1px solid #b5b5b5;
  color: #b5b5b5;
  margin-right: 2px;
  border-radius: 5px;
  margin-top: 0.8rem;
}
.section .family-list .click {
  width: 100%;
  height: 5rem;
  background: #ffffff;
  text-align: center;
}
.section .family-list .click button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}
.section .family-list .click button img {
  width: auto;
  height: 0.5rem;
  background: none;
  margin-left: 10px;
}