
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496288715089'); /* IE9*/
  src: url('iconfont.eot?t=1496288715089#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496288715089') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496288715089') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496288715089#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:2rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-search-a:before { content: "\e601"; }

.icon-back:before { content: "\e602"; }

.icon-back{
	color: #ff6764;
}

.icon-search-a,.icon-more{
	color: #999999;
}
.icon-more{
	font-size:2.4rem;
}



